.task-container {
  display: inline-block;

  width: 475px;
  margin-right: auto;
}

#open-tasks-container {
  margin: 0 15px;
}


#closed-tasks-container {
  margin: 0 15px;
}

header { 
  text-align: center;
}

main {
  text-align: center;
}

#submit-task-container {
  margin: 30px;
}

.task-text-header {
  text-align: left;
  padding-left: 16px;
}

.task-date-header {
  text-align: right;
  padding-right: 16px;
}


.task-container h2 {
  margin: 10px 0 0 25px;
  text-align: left;
}

table {
  width: 100%;
}


button img {
  height: 20px;
}


.task-delete-btn button img:hover {
  background-image: url('/server/public/images/delete-red-hover.png');
}


.task-row {
  margin: 6px 0;
  padding: 10px 0;
}

.task-checkbox-btn {
  width: 30px;
  padding: 0 5px;
}
.task-text {
  padding: 0 5px;
  text-align: left;

}
.task-date {
  padding: 0 5px;
  text-align: right;
}
.task-delete-btn {
  width: 30px;
  padding: 0 5px;
}

/* Task element styling  based on DIV


.task-row {
  width: 100%;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid black;
  height: 36px;
  justify-content: space-between;
}

.task-row-right, .task-row-left {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.task-row-left {
  width: 70%;
}

.task-row-right {
  width: 30%;
justify-content: right;
} */



/* checkbox styling! */

.task-checkbox {
  width: auto;
}

.task-checkbox p {
  padding: 0px 10px;
  width: auto;
  scale: 145%;
  margin: 0 0 0 0;
}


.closed .task-text {
  text-decoration: line-through;
}

.task-delete-btn {
  margin: 0 6px 0 10px;
}
